# An executable file used during setup
.pgpass

node_modules
.env
.vscode
.idea
sqitch
app/sqitch
Infrastructure/.terraform/

app/__generated__/
helm/**/charts
.bin/gitleaks
gitleaks
k6Results/
k6files/
app/script/
app/cypress/support/commands.js.bak
Infrastructure/responsiveness_lambda/venv
sentry_auth_token.txt
