fullnameOverride: feature #to be overwritten by deploy script

replicaCount: 1

image:
  app:
    repository: ghcr.io/bcgov/conn-ccbc-portal/ccbc-app
    pullPolicy: IfNotPresent
    tag: 'sha-d53715434b85fd10f07e9976014e2dfa6166b818' # The tag value must be passed in via the deploy script
    clientSecret: '' # clientSecret must be passed in via deploy script
  db:
    repository: ghcr.io/bcgov/conn-ccbc-portal/ccbc-db
    pullPolicy: IfNotPresent
    tag: 'sha-d53715434b85fd10f07e9976014e2dfa6166b818' # The tag value must be passed in via the deploy script

app:
  port: '3000'
  probesPort: '9000'
  namespace: ''
  enableAnalytics: true
secureRoute:
  host: '' # The host value must be passed in via the deploy script
  wwwRoute:
    enable: false
growthbook:
  key: '' # The host value must be passed in via the deploy script
resources:
  app:
    requests:
      cpu: 1m
      memory: '256Mi'
  psql:
    requests:
      cpu: 10m
      memory: '128Mi'

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 1
  targetCPUUtilizationPercentage: 110
  # targetMemoryUtilizationPercentage: 80

deployer:
  namespace: '' # The namespace must be passed in via the deploy script
  serviceAccount:
    enabled: true

networkPolicies:
  enabled: true

objectStorage:
  awsS3Bucket: '' # The value must be passed in via the deploy script
  awsS3Region: '' # The value must be passed in via the deploy script
  awsS3Key: '' # The value must be passed in via the deploy script
  awsS3SecretKey: '' # The value must be passed in via the deploy script
  awsRoleArn: '' # The value must be passed in via the deploy script

db:
  name: feature # To be passed in via the deploy script
  appUser: ccbc_app
  readonlyUser: ccbc_readonly
  test:
    password: '' # The value must be passed in via the deploy script
  prod:
    password: '' # The value must be passed in via the deploy script

  # A bash script to run in a pre-upgrade hook, in a psql container
  # The script will be run by the postgres user,
  # allowing to clean up any objects created in a previous postMigrationCommand
  preUpgradeCommand: |
    psql -v "ON_ERROR_STOP=1" <<EOF
    drop schema if exists sqitch cascade;
    drop schema if exists mocks cascade;
    drop schema if exists ccbc_public cascade;
    drop schema if exists ccbc_private cascade;
    drop schema if exists audit cascade;
    EOF
    psql -f deploy/create_roles.sql;
    PGPASSWORD=$TEST_PG_PASSWORD
    pg_dump -h ccbc-replicas.ff61fb-prod.svc.cluster.local -d ccbc > /tmp/ccbc.sql;
    PGPASSWORD=$PGPASSWORD_DEV
    psql -f /tmp/ccbc.sql;
    psql -f test/anonymizer_functions.sql;
    psql -f test/helper_functions.sql;
    psql -f test/anonymize_form_data.sql;
    psql -f test/anonymize_form_data_history.sql;
    psql -f test/anonymize_application_sow_data.sql;
    psql -f test/anonymize_application_sow_data_history.sql;
    psql -f test/anonymize_cbc_data.sql;
    psql -f test/anonymize_cbc_data_history.sql;
    psql -f test/anonymize_form_data_attachments.sql;
    psql -f test/anonymize_form_data_attachments_history.sql;
    psql -f test/anonymize_form_data_numbers.sql;
    psql -f test/anonymize_form_data_numbers_history.sql;
    psql -f test/anonymize_cbc_data_numbers.sql;
    psql -f test/anonymize_cbc_data_numbers_history.sql;
    psql -f test/anonymize_sow_tab_7_numbers.sql;
    psql -f test/anonymize_sow_tab_7_numbers_history.sql;
    psql -f test/anonymize_conditional_approval_data_numbers.sql;
    psql -f test/anonymize_conditional_approval_data_numbers_history.sql;
    psql -f test/anonymize_application_internal_description.sql;
    psql -f test/anonymize_application_internal_description_history.sql;
    psql -f test/anonymize_rfi_data.sql;
    psql -f test/anonymize_rfi_data_history.sql;
    psql -f test/anonymize_project_page_attachments.sql;
    psql -f test/anonymize_project_page_attachments_history.sql;
    psql -f test/anonymize_assessment_data.sql;
    psql -f test/anonymize_assessment_data_history.sql;

  # A bash script to run after the migrations are deployed, in a psql container
  # The script will be run by the postgres user, allowing to deploy test data, bypassing RLS
  # sqitch --chdir mocks_schema deploy;
  # for file in data/dev/*.sql; do
  #   psql -v "ON_ERROR_STOP=1" -f "${file}";
  # done;
  postMigrationCommand: ~

loadTest:
  # if true, this will start the app with ENABLE_MOCK_AUTH=true, and deploy the data located in `db/data/perf`
  # These settings enable load testing, which is triggered in a separate helm chart
  enable: false
