{
  "presets": ["next/babel"],
  "plugins": [
    ["relay", { "artifactDirectory": "./__generated__" }],
    [
      "module-resolver",
      { "root": [".", ".."], "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    ["styled-components", { "ssr": true }],
    "macros"
  ]
}
