fullnameOverride: ccbc

replicaCount: 3

image:
  app:
    repository: ghcr.io/bcgov/conn-ccbc-portal/ccbc-app
    pullPolicy: IfNotPresent
    tag: 'sha-d53715434b85fd10f07e9976014e2dfa6166b818' # The tag value must be passed in via the deploy script
    clientSecret: '' # clientSecret must be passed in via deploy script
  psql:
    repository: gcr.io/ggl-cas-storage/cas-postgres
    pullPolicy: IfNotPresent
    tag: '0.3.0'
  db:
    repository: ghcr.io/bcgov/conn-ccbc-portal/ccbc-db
    pullPolicy: IfNotPresent
    tag: 'sha-d53715434b85fd10f07e9976014e2dfa6166b818' # The tag value must be passed in via the deploy script

app:
  port: '3000'
  probesPort: '9000'
  namespace: ''
  enableAnalytics: true
secureRoute:
  host: '' # The host value must be passed in via the deploy script
  wwwRoute:
    enable: false
growthbook:
  key: '' # The host value must be passed in via the deploy script
resources:
  app:
    requests:
      cpu: 1m
      memory: '128Mi'
    limits:
      cpu: 500m
      memory: '256Mi'
  psql:
    requests:
      cpu: 10m
      memory: '128Mi'
    limits:
      cpu: 100m
      memory: '256Mi'

deployer:
  namespace: '' # The namespace must be passed in via the deploy script
  serviceAccount:
    enabled: true

networkPolicies:
  enabled: true

objectStorage:
  awsS3Bucket: '' # The value must be passed in via the deploy script
  awsS3Region: '' # The value must be passed in via the deploy script
  awsS3Key: '' # The value must be passed in via the deploy script
  awsS3SecretKey: '' # The value must be passed in via the deploy script
  awsRoleArn: '' # The value must be passed in via the deploy script

db:
  name: ccbc
  appUser: ccbc_app
  readonlyUser: ccbc_readonly
  preInitCommand: ''
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

metabase:
  instanceName: ccbc-metabase
  namespace: '' # The value must be passed in via the deploy script

# Postgres Cluster resource values:
exporter:
  requests:
    cpu: 1m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi

instances:
  name: hippo-ha
  replicas: 3
  requests:
    cpu: 1m
    memory: 256Mi
  limits:
    cpu: 1000m
    memory: 512Mi

replicaCertCopy:
  requests:
    cpu: 1m
    memory: 32Mi
  limits:
    cpu: 100m
    memory: 64Mi

dataVolumeClaimSpec:
  storage: 2Gi

pgbackrest:
  requests:
    cpu: 1m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi
  volume:
    storage: 8Gi
    storageClassName: netapp-file-backup
  repoHost:
    requests:
      cpu: 2m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi

pgBouncer:
  requests:
    cpu: 2m
    memory: 8Mi
  limits:
    cpu: 100m
    memory: 32Mi

certbot:
  image:
    tag: 1.0.0
    pullPolicy: IfNotPresent
  certbot:
    email: '' # The value must be passed in via the deploy script
    server: '' # The value must be passed in via the deploy script
  cron:
    suspend: false # The certs have been issued in all environments
