autoscaling:
  enabled: false

deploy:
  enabled: false

cronsp:
  schedule: '0 0 15 10 *' # dev run once a year on October 15

cronshp:
  enabled: false

croncommunity:
  deploy:
    enabled: false

cronmilestone:
  deploy:
    enabled: false

db:
  postMigrationCommand: |
    sqitch --chdir mocks_schema deploy;
    for file in data/dev/*.sql; do
      psql -v "ON_ERROR_STOP=1" -f "${file}";
    done;

crunchy-postgres:
  pgBackRest:
    repo1:
      enabled: false
    retention: '1'
    volume:
      storage: 20Gi
  instances:
    dataVolumeClaimSpec:
      storage: 85Gi

metabase:
  prodIngress:
    enable: true
