metabase:
  prodIngress:
    enable: true

resources:
  app:
    requests:
      cpu: 300m
      memory: '512Mi'

db:
  postMigrationCommand: |
    sqitch --chdir mocks_schema deploy;
    for file in data/test/*.sql; do
      psql -v "ON_ERROR_STOP=1" -f "${file}";
    done;

crunchy-postgres:
  pgBackRest:
    volume:
      storage: 20Gi
  instances:
    dataVolumeClaimSpec:
      storage: 5Gi
