fullnameOverride: ccbc

replicaCount: 3

image:
  app:
    repository: ghcr.io/bcgov/conn-ccbc-portal/ccbc-app
    pullPolicy: IfNotPresent
    tag: 'sha-d53715434b85fd10f07e9976014e2dfa6166b818' # The tag value must be passed in via the deploy script
    clientSecret: '' # clientSecret must be passed in via deploy script
  psql:
    repository: gcr.io/ggl-cas-storage/cas-postgres
    pullPolicy: IfNotPresent
    tag: '0.3.0'
  db:
    repository: ghcr.io/bcgov/conn-ccbc-portal/ccbc-db
    pullPolicy: IfNotPresent
    tag: 'sha-d53715434b85fd10f07e9976014e2dfa6166b818' # The tag value must be passed in via the deploy script

app:
  port: '3000'
  probesPort: '9000'
  namespace: ''
  enableAnalytics: true
secureRoute:
  host: '' # The host value must be passed in via the deploy script
  wwwRoute:
    enable: false
growthbook:
  key: '' # The host value must be passed in via the deploy script
resources:
  app:
    requests:
      cpu: 1m
      memory: '128Mi'
    limits:
      cpu: 500m
      memory: '256Mi'
  psql:
    requests:
      cpu: 10m
      memory: '128Mi'
    limits:
      cpu: 100m
      memory: '256Mi'

deployer:
  namespace: '' # The namespace must be passed in via the deploy script
  serviceAccount:
    enabled: true

networkPolicies:
  enabled: true

objectStorage:
  awsS3Bucket: '' # The value must be passed in via the deploy script
  awsS3Region: '' # The value must be passed in via the deploy script
  awsS3Key: '' # The value must be passed in via the deploy script
  awsS3SecretKey: '' # The value must be passed in via the deploy script
  awsRoleArn: '' # The value must be passed in via the deploy script

db:
  name: ccbc
  appUser: ccbc_app
  readonlyUser: ccbc_readonly

  # A bash script to run in a pre-upgrade hook, in a psql container
  # The script will be run by the postgres user,
  # allowing to clean up any objects created in a previous postMigrationCommand
  preUpgradeCommand: ~

  # A bash script to run after the migrations are deployed, in a psql container
  # The script will be run by the postgres user, allowing to deploy test data, bypassing RLS
  postMigrationCommand: ~

metabase:
  instanceName: ccbc-metabase
  namespace: '' # The value must be passed in via the deploy script
  prodNamespace: '' # The value must be passed in via the deploy script
  prodIngress:
    enable: false

# Postgres Cluster resource values:
exporter:
  requests:
    cpu: 1m
    memory: 64Mi
  limits:
    cpu: 50m
    memory: 128Mi

instances:
  name: hippo-ha
  replicas: 3
  requests:
    cpu: 1m
    memory: 1Gi
  limits:
    cpu: 1500m
    memory: 1Gi

replicaCertCopy:
  requests:
    cpu: 1m
    memory: 32Mi
  limits:
    cpu: 50m
    memory: 64Mi

dataVolumeClaimSpec:
  storage: 2Gi

pgbackrest:
  requests:
    cpu: 1m
    memory: 64Mi
  limits:
    cpu: 50m
    memory: 128Mi
  volume:
    storage: 128Gi
    storageClassName: netapp-file-backup
  repoHost:
    requests:
      cpu: 2m
      memory: 64Mi
    limits:
      cpu: 50m
      memory: 128Mi
  retention: '30'

pgBouncer:
  replicas: 2
  requests:
    cpu: 2m
    memory: 8Mi
  limits:
    cpu: 50m
    memory: 32Mi

certbot:
  image:
    tag: 1.0.0
    pullPolicy: IfNotPresent
  certbot:
    email: '' # The value must be passed in via the deploy script
    server: '' # The value must be passed in via the deploy script
  cron:
    suspend: false # The certs have been issued in all environments

loadTest:
  # if true, this will start the app with ENABLE_MOCK_AUTH=true, and deploy the data located in `db/data/perf`
  # These settings enable load testing, which is triggered in a separate helm chart
  enable: false
