apiVersion: ops.gov.bc.ca/v1alpha1
kind: SysdigTeam
metadata:
  name: {{ .Values.namespacePrefix }}-sysdigteam
  labels: {{ include "ccbc-tools.labels" . | nindent 4}}
  namespace: {{ .Values.namespacePrefix }}-tools
spec:
  team:
    description: The Sysdig Team for the OpenShift Project Set {{ .Values.namespacePrefix }}
    users:
    - name: rafael.solorzano@gov.bc.ca
      role: ROLE_TEAM_EDIT
    - name: meherzad.romer@gov.bc.ca
      role: ROLE_TEAM_EDIT
    - name: rumesha.ranathunga@gov.bc.ca
      role: ROLE_TEAM_EDIT
