name: Assign Jira Reviewer Based on PR Approval

on:
  pull_request_review:
    types: [submitted]

env:
  FEATURE_NAME: ${{ github.event.pull_request.head.ref }}

jobs:
  assign-reviewer:
    if: github.event.review.state == 'approved'
    runs-on: ubuntu-latest
    environment:
      name: development

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Get JIRA Issue Key
        id: extract_jira_key
        run: |
          echo "JIRA_KEY=$(echo "$FEATURE_NAME" | grep -oE 'NDT-[0-9]+')" >> $GITHUB_ENV

      - name: Get Jira issue metadata
        id: jira_issue_type
        run: |
          response=$(curl -s -X GET \
            -H "Authorization: Basic ${{ secrets.JIRA_AUTH }}" \
            -H "Content-Type: application/json" \
            https://connectivitydivision.atlassian.net/rest/api/3/issue/${{ env.JIRA_KEY }})

          issue_type=$(echo "$response" | jq -r '.fields.issuetype.name')
          case "$issue_type" in
            "Story")
              field="customfield_10074"
              ;;
            "Task")
              field="customfield_10076"
              ;;
            "Bug")
              field="customfield_10075"
              ;;
            *)
              echo "Unsupported Jira issue type: $issue_type"
              exit 1
              ;;
          esac

          echo "ISSUE_TYPE=$issue_type" >> $GITHUB_ENV
          echo "JIRA_FIELD=$field" >> $GITHUB_ENV

      - name: Extract Jira issue key and reviewer
        id: extract
        env:
          REVIEWER_GITHUB: ${{ github.event.review.user.login }}
        run: |
          JIRA_ID=$(jq -r --arg reviewer "$REVIEWER_GITHUB" '.[$reviewer]' .github/jira-reviewers.json)
          echo "JIRA_ID=$JIRA_ID" >> $GITHUB_ENV

      - name: Assign Jira reviewer
        run: |
          echo "Assigning Jira reviewer to ticket ${{ env.JIRA_KEY }} (type: ${{ env.ISSUE_TYPE }})"
          QUERY=$(jq -n --arg field "${{ env.JIRA_FIELD }}" --arg id "${{ env.JIRA_ID }}" \
            '{fields: {($field): [{id: $id}]}}')

          curl -X PUT \
            -H "Authorization: Basic ${{ secrets.JIRA_AUTH }}" \
            -H "Content-Type: application/json" \
            https://connectivitydivision.atlassian.net/rest/api/3/issue/${{ env.JIRA_KEY }} \
            -d "$QUERY"
