# Builds the docker containers
name: build

on:
  workflow_call:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io
  GIT_HASH: ${{ github.sha }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # build app image on every push
          - image: ghcr.io/bcgov/conn-ccbc-portal/ccbc-app
            context: .
            dockerfile: app/Dockerfile
            name: app
            build_only_on_main: false
          # build db image only on main, helper image, does not change
          # will use cache from registry
          - image: ghcr.io/bcgov/conn-ccbc-portal/ccbc-db
            context: .
            dockerfile: db/Dockerfile
            name: db
            build_only_on_main: false
          # build shp image only on main, cron image, does not change
          # will use cache from registry
          - image: ghcr.io/bcgov/conn-ccbc-portal/ccbc-cron-shp
            context: .
            dockerfile: cron/shp/Dockerfile
            name: cron-shp
            build_only_on_main: true
          # build unit test db only on main, testing image, does not change
          # will use cache from registry
          - image: ghcr.io/bcgov/conn-ccbc-portal/ccbc-unit-test-db
            context: .
            dockerfile: local_setup/unit_tests/Dockerfile
            name: db-unit-test
            build_only_on_main: true
          - image: ghcr.io/bcgov/conn-ccbc-portal/conn-ticket-queue
            context: .
            dockerfile: conn-ticket-queue/Dockerfile
            name: conn-ticket-queue
            build_only_on_main: false
    permissions:
      contents: read
      packages: write
    name: ${{ matrix.name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ matrix.image }}
          tags: |
            type=sha,format=long,prefix=sha-
            latest
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        if: ${{ matrix.build_only_on_main != true || github.ref == 'refs/heads/main' || matrix.name == 'app' }}
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.context }}
          # builder: ${{ steps.buildx.outputs.name }}
          push: true
          file: ${{ matrix.dockerfile }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          # cache-from: type=registry,ref=${{ matrix.image }}:buildcache
          # cache-to: type=registry,ref=${{ matrix.image }}:buildcache,mode=max
          # cache-to: ${{ github.ref == 'refs/heads/main' && format('type=registry,ref={0}:buildcache,mode=max', matrix.image) || '' }}
        # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
      # - name: Move cache
      #   run: |
      #     rm -rf /tmp/.buildx-cache
      #     mv /tmp/.buildx-cache-new /tmp/.buildx-cache
