name: cache
on:
  workflow_call:
  workflow_dispatch:
concurrency:
  group: cache-${{ github.ref }}
  cancel-in-progress: true
permissions:
  actions: write
jobs:
  clear-cache:
    runs-on: ubuntu-latest
    steps:
      - name: Clear cache
        uses: actions/github-script@v8
        with:
          script: |
            console.log("Preparing to clear cache...")
            const caches = await github.rest.actions.getActionsCacheList({
              owner: context.repo.owner,
              repo: context.repo.repo,
            })
            for (const cache of caches.data.actions_caches) {
              console.log("Clearing cache_id", cache.id)
              await github.rest.actions.deleteActionsCacheById({
                owner: context.repo.owner,
                repo: context.repo.repo,
                cache_id: cache.id,
              })
              console.log("Cleared cache_id", cache.id)
            }
            console.log("Cleared cache.")
