name: deploy

on:
  workflow_call:
    secrets:
      OPENSHIFT_SERVER: { required: true }
      OPENSHIFT_TOKEN: { required: true }
      OPENSHIFT_APP_NAMESPACE: { required: true }
      OPENSHIFT_METABASE_NAMESPACE: { required: true }
      OPENSHIFT_METABASE_PROD_NAMESPACE: { required: true }
      NEXT_PUBLIC_GROWTHBOOK_API_KEY: { required: true }
      CLIENT_SECRET: { required: true }
      OPENSHIFT_SECURE_ROUTE: { required: true }
      AWS_S3_BUCKET: { required: true }
      AWS_S3_REGION: { required: true }
      AWS_S3_KEY: { required: true }
      AWS_S3_SECRET_KEY: { required: true }
      AWS_CLAM_S3_BUCKET: { required: true }
      AWS_ROLE_ARN: { required: true }
      CERTBOT_EMAIL: { required: true }
      CERTBOT_SERVER: { required: true }
      METABASE_SITE_URL: { required: true }
      METABASE_EMBED_SECRET: { required: true }
      CERT: { required: true }
      CERT_KEY: { required: true }
      CERT_CA: { required: true }
      SP_SA_USER: { required: true }
      SP_SA_PASSWORD: { required: true }
      SP_DOC_LIBRARY: { required: true }
      SP_SITE: { required: true }
      SP_MS_FILE_NAME: { required: true }
      SA_CLIENT_SECRET: { required: true }
      SA_CLIENT_ID: { required: true }
      KEYCLOAK_HOST: { required: true }
      SP_LIST_NAME: { required: true }
      VAULT_TOKEN: { required: true }
      VAULT_ADDR: { required: true }
      VAULT_NAMESPACE: { required: true }
      RENOVATE_GITHUB_TOKEN: { required: false }
      RENOVATE_PRIVATE_KEY: { required: false }
      CHES_API_URL: { required: true }
      CHES_CLIENT: { required: true }
      CHES_CLIENT_SECRET: { required: true }
      CHES_TO_EMAIL: { required: true }
      CHES_KEYCLOAK_HOST: { required: true }
      AWS_S3_BACKUPS_BUCKET: { required: true }
      ER_FILE: { required: true }
      RD_FILE: { required: true }
      COVERAGES_FILE: { required: true }
      SESSION_SECRET: { required: true }
      TEST_PG_PASSWORD: { required: true }

env:
  TAG: sha-${{ github.sha }}

jobs:
  is-tagged-release:
    runs-on: ubuntu-latest
    outputs:
      tagVersion: ${{steps.tagVersion.outputs.tagVersion}}
    steps:
      - name: Git Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Is Tagged Commit
        id: tagVersion
        # Check if one of the commits is associated with a tag
        run: |
          TAG=$(git tag --merged ${{ github.sha }} --no-merged ${{ github.event.before }} | grep -E '^v[0-9]+\.[0-9]+\.[0-9]+$' | sort -V | tail -n1 || echo "invalid")
          echo "Found tag: ${TAG}"
          if [ "$TAG" != "invalid" ]; then
            echo "tagVersion=${TAG}" >>$GITHUB_OUTPUT
          else
            echo "tagVersion=none" >>$GITHUB_OUTPUT
          fi

  deploy-to-openshift-development:
    runs-on: ubuntu-latest
    environment:
      name: development
      # url: 'https://ccbc-dev.apps.silver.devops.gov.bc.ca'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Deploy
        uses: ./.github/actions/app
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_SERVER }}
          openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
          openshift_app_namespace: ${{ secrets.OPENSHIFT_APP_NAMESPACE }}
          openshift_metabase_namespace: ${{ secrets.OPENSHIFT_METABASE_NAMESPACE }}
          openshift_metabase_prod_namespace: ${{ secrets.OPENSHIFT_METABASE_PROD_NAMESPACE }}
          next_public_growthbook_api_key: ${{ secrets.NEXT_PUBLIC_GROWTHBOOK_API_KEY }}
          tag: ${{ env.TAG }}
          client_secret: ${{ secrets.CLIENT_SECRET }}
          secure_route: ${{ secrets.OPENSHIFT_SECURE_ROUTE }}
          aws_s3_bucket: ${{ secrets.AWS_S3_BUCKET }}
          aws_s3_region: ${{ secrets.AWS_S3_REGION }}
          aws_s3_key: ${{ secrets.AWS_S3_KEY }}
          aws_s3_secret_key: ${{ secrets.AWS_S3_SECRET_KEY }}
          aws_clam_s3_bucket: ${{ secrets.AWS_CLAM_S3_BUCKET }}
          aws_role_arn: ${{ secrets.AWS_ROLE_ARN }}
          certbot_email: ${{ secrets.CERTBOT_EMAIL }}
          certbot_server: ${{ secrets.CERTBOT_SERVER }}
          metabase_site_url: ${{ secrets.METABASE_SITE_URL }}
          metabase_embed_secret: ${{ secrets.METABASE_EMBED_SECRET }}
          cert: ${{ secrets.CERT }}
          cert_key: ${{ secrets.CERT_KEY }}
          cert_ca: ${{ secrets.CERT_CA }}
          sp_sa_user: ${{ secrets.SP_SA_USER }}
          sp_sa_password: ${{ secrets.SP_SA_PASSWORD }}
          sp_doc_library: ${{ secrets.SP_DOC_LIBRARY }}
          sp_site: ${{ secrets.SP_SITE }}
          sp_ms_file_name: ${{ secrets.SP_MS_FILE_NAME }}
          keycloak_host: ${{ secrets.KEYCLOAK_HOST }}
          sa_client_secret: ${{ secrets.SA_CLIENT_SECRET }}
          sa_client_id: ${{ secrets.SA_CLIENT_ID }}
          sp_list_name: ${{ secrets.SP_LIST_NAME }}
          ches_url: ${{ secrets.CHES_API_URL }}
          ches_client: ${{ secrets.CHES_CLIENT }}
          ches_client_secret: ${{ secrets.CHES_CLIENT_SECRET }}
          ches_to: ${{ secrets.CHES_TO_EMAIL }}
          ches_keycloak_host: ${{ secrets.CHES_KEYCLOAK_HOST }}
          pgbackrest_s3_key: ${{ secrets.AWS_CCBC_IAM_USER_KEY }}
          pgbackrest_s3_key_secret: ${{ secrets.AWS_CCBC_IAM_USER_KEY_SECRET }}
          pgbackrest_s3_bucket: ${{ secrets.AWS_S3_BACKUPS_BUCKET }}
          er_file: ${{ secrets.ER_FILE }}
          rd_file: ${{ secrets.RD_FILE }}
          coverages_file: ${{ secrets.COVERAGES_FILE }}
          session_secret: ${{ secrets.SESSION_SECRET }}
          environment: dev

  ensure-sqitch-plan-ends-with-tag:
    runs-on: ubuntu-latest
    needs: [is-tagged-release]
    if: contains(needs.is-tagged-release.outputs.tagVersion, 'v')
    steps:
      - uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            db:
              - 'db/**'
      - name: Check sqitch plan ends with tag
        if: steps.changes.outputs.db == 'true'
        run: ./.bin/sqitch-last-change-is-tag.sh db
      - name: Skip sqitch plan check
        if: steps.changes.outputs.db == 'false'
        run: echo "Skipping sqitch plan check - no changes detected in db folder"

  deploy-to-openshift-test:
    needs: [deploy-to-openshift-development, is-tagged-release]
    if: contains(needs.is-tagged-release.outputs.tagVersion, 'v')
    runs-on: ubuntu-latest
    environment:
      name: test
      url: 'https://ccbc-test.apps.silver.devops.gov.bc.ca'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Deploy
        uses: ./.github/actions/app
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_SERVER }}
          openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
          openshift_app_namespace: ${{ secrets.OPENSHIFT_APP_NAMESPACE }}
          openshift_metabase_namespace: ${{ secrets.OPENSHIFT_METABASE_NAMESPACE }}
          openshift_metabase_prod_namespace: ${{ secrets.OPENSHIFT_METABASE_PROD_NAMESPACE }}
          next_public_growthbook_api_key: ${{ secrets.NEXT_PUBLIC_GROWTHBOOK_API_KEY }}
          tag: ${{ env.TAG }}
          client_secret: ${{ secrets.CLIENT_SECRET }}
          secure_route: ${{ secrets.OPENSHIFT_SECURE_ROUTE }}
          aws_s3_bucket: ${{ secrets.AWS_S3_BUCKET }}
          aws_s3_region: ${{ secrets.AWS_S3_REGION }}
          aws_s3_key: ${{ secrets.AWS_S3_KEY }}
          aws_s3_secret_key: ${{ secrets.AWS_S3_SECRET_KEY }}
          aws_role_arn: ${{ secrets.AWS_ROLE_ARN }}
          aws_clam_s3_bucket: ${{ secrets.AWS_CLAM_S3_BUCKET }}
          certbot_email: ${{ secrets.CERTBOT_EMAIL }}
          certbot_server: ${{ secrets.CERTBOT_SERVER }}
          metabase_site_url: ${{ secrets.METABASE_SITE_URL }}
          metabase_embed_secret: ${{ secrets.METABASE_EMBED_SECRET }}
          cert: ${{ secrets.CERT }}
          cert_key: ${{ secrets.CERT_KEY }}
          cert_ca: ${{ secrets.CERT_CA }}
          sp_sa_user: ${{ secrets.SP_SA_USER }}
          sp_sa_password: ${{ secrets.SP_SA_PASSWORD }}
          sp_doc_library: ${{ secrets.SP_DOC_LIBRARY }}
          sp_site: ${{ secrets.SP_SITE }}
          sp_ms_file_name: ${{ secrets.SP_MS_FILE_NAME }}
          keycloak_host: ${{ secrets.KEYCLOAK_HOST }}
          sa_client_secret: ${{ secrets.SA_CLIENT_SECRET }}
          sa_client_id: ${{ secrets.SA_CLIENT_ID }}
          sp_list_name: ${{ secrets.SP_LIST_NAME }}
          ches_url: ${{ secrets.CHES_API_URL }}
          ches_client: ${{ secrets.CHES_CLIENT }}
          ches_client_secret: ${{ secrets.CHES_CLIENT_SECRET }}
          ches_to: ${{ secrets.CHES_TO_EMAIL }}
          ches_keycloak_host: ${{ secrets.CHES_KEYCLOAK_HOST }}
          pgbackrest_s3_bucket: ${{ secrets.AWS_S3_BACKUPS_BUCKET }}
          er_file: ${{ secrets.ER_FILE }}
          rd_file: ${{ secrets.RD_FILE }}
          coverages_file: ${{ secrets.COVERAGES_FILE }}
          session_secret: ${{ secrets.SESSION_SECRET }}
          environment: test

  deploy-to-openshift-production:
    needs: [deploy-to-openshift-test, is-tagged-release]
    if: contains(needs.is-tagged-release.outputs.tagVersion, 'v')
    runs-on: ubuntu-latest
    environment:
      name: production
      url: 'https://ccbc.apps.silver.devops.gov.bc.ca'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Deploy
        uses: ./.github/actions/app
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_SERVER }}
          openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
          openshift_app_namespace: ${{ secrets.OPENSHIFT_APP_NAMESPACE }}
          openshift_metabase_namespace: ${{ secrets.OPENSHIFT_METABASE_NAMESPACE }}
          next_public_growthbook_api_key: ${{ secrets.NEXT_PUBLIC_GROWTHBOOK_API_KEY }}
          tag: ${{ env.TAG }}
          client_secret: ${{ secrets.CLIENT_SECRET }}
          secure_route: ${{ secrets.OPENSHIFT_SECURE_ROUTE }}
          aws_s3_bucket: ${{ secrets.AWS_S3_BUCKET }}
          aws_s3_region: ${{ secrets.AWS_S3_REGION }}
          aws_s3_key: ${{ secrets.AWS_S3_KEY }}
          aws_s3_secret_key: ${{ secrets.AWS_S3_SECRET_KEY }}
          aws_clam_s3_bucket: ${{ secrets.AWS_CLAM_S3_BUCKET }}
          aws_role_arn: ${{ secrets.AWS_ROLE_ARN }}
          certbot_email: ${{ secrets.CERTBOT_EMAIL }}
          certbot_server: ${{ secrets.CERTBOT_SERVER }}
          metabase_site_url: ${{ secrets.METABASE_SITE_URL }}
          metabase_embed_secret: ${{ secrets.METABASE_EMBED_SECRET }}
          cert: ${{ secrets.CERT }}
          cert_key: ${{ secrets.CERT_KEY }}
          cert_ca: ${{ secrets.CERT_CA }}
          sp_sa_user: ${{ secrets.SP_SA_USER }}
          sp_sa_password: ${{ secrets.SP_SA_PASSWORD }}
          sp_doc_library: ${{ secrets.SP_DOC_LIBRARY }}
          sp_site: ${{ secrets.SP_SITE }}
          sp_ms_file_name: ${{ secrets.SP_MS_FILE_NAME }}
          keycloak_host: ${{ secrets.KEYCLOAK_HOST }}
          sa_client_secret: ${{ secrets.SA_CLIENT_SECRET }}
          sa_client_id: ${{ secrets.SA_CLIENT_ID }}
          sp_list_name: ${{ secrets.SP_LIST_NAME }}
          ches_url: ${{ secrets.CHES_API_URL }}
          ches_client: ${{ secrets.CHES_CLIENT }}
          ches_client_secret: ${{ secrets.CHES_CLIENT_SECRET }}
          ches_to: ${{ secrets.CHES_TO_EMAIL }}
          ches_keycloak_host: ${{ secrets.CHES_KEYCLOAK_HOST }}
          pgbackrest_s3_bucket: ${{ secrets.AWS_S3_BACKUPS_BUCKET }}
          er_file: ${{ secrets.ER_FILE }}
          rd_file: ${{ secrets.RD_FILE }}
          coverages_file: ${{ secrets.COVERAGES_FILE }}
          session_secret: ${{ secrets.SESSION_SECRET }}
          test_pg_password: ${{ secrets.TEST_PG_PASSWORD }}
          environment: prod

  backup-secrets-dev:
    needs: [deploy-to-openshift-development]
    uses: ./.github/workflows/backup-secrets.yaml
    secrets:
      OPENSHIFT_SERVER: ${{ secrets.OPENSHIFT_SERVER }}
      OPENSHIFT_TOKEN: ${{ secrets.OPENSHIFT_TOKEN }}
      OPENSHIFT_APP_NAMESPACE: ${{ secrets.OPENSHIFT_APP_NAMESPACE }}
      OPENSHIFT_METABASE_NAMESPACE: ${{ secrets.OPENSHIFT_METABASE_NAMESPACE }}
      OPENSHIFT_METABASE_PROD_NAMESPACE: ${{ secrets.OPENSHIFT_METABASE_PROD_NAMESPACE }}
      NEXT_PUBLIC_GROWTHBOOK_API_KEY: ${{ secrets.NEXT_PUBLIC_GROWTHBOOK_API_KEY }}
      CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
      OPENSHIFT_SECURE_ROUTE: ${{ secrets.OPENSHIFT_SECURE_ROUTE }}
      AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
      AWS_S3_REGION: ${{ secrets.AWS_S3_REGION }}
      AWS_S3_KEY: ${{ secrets.AWS_S3_KEY }}
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
      AWS_S3_SECRET_KEY: ${{ secrets.AWS_S3_SECRET_KEY }}
      CERTBOT_EMAIL: ${{ secrets.CERTBOT_EMAIL }}
      CERTBOT_SERVER: ${{ secrets.CERTBOT_SERVER }}
      AWS_CLAM_S3_BUCKET: ${{ secrets.AWS_CLAM_S3_BUCKET }}
      METABASE_EMBED_SECRET: ${{ secrets.METABASE_EMBED_SECRET }}
      METABASE_SITE_URL: ${{ secrets.METABASE_SITE_URL }}
      CERT: ${{ secrets.CERT }}
      CERT_KEY: ${{ secrets.CERT_KEY }}
      CERT_CA: ${{ secrets.CERT_CA }}
      SP_SA_USER: ${{ secrets.SP_SA_USER }}
      SP_SA_PASSWORD: ${{ secrets.SP_SA_PASSWORD }}
      SP_DOC_LIBRARY: ${{ secrets.SP_DOC_LIBRARY }}
      SP_SITE: ${{ secrets.SP_SITE }}
      SP_MS_FILE_NAME: ${{ secrets.SP_MS_FILE_NAME }}
      SA_CLIENT_SECRET: ${{ secrets.SA_CLIENT_SECRET }}
      SA_CLIENT_ID: ${{ secrets.SA_CLIENT_ID }}
      KEYCLOAK_HOST: ${{ secrets.KEYCLOAK_HOST }}
      SP_LIST_NAME: ${{ secrets.SP_LIST_NAME }}
      VAULT_TOKEN: ${{ secrets.VAULT_TOKEN }}
      VAULT_ADDR: ${{ secrets.VAULT_ADDR }}
      VAULT_NAMESPACE: ${{ secrets.VAULT_NAMESPACE }}
      CHES_CLIENT: ${{ secrets.CHES_CLIENT }}
      CHES_CLIENT_SECRET: ${{ secrets.CHES_CLIENT_SECRET }}
    with:
      environment: 'development'

  backup-secrets-test:
    needs: [deploy-to-openshift-test]
    uses: ./.github/workflows/backup-secrets.yaml
    secrets:
      OPENSHIFT_SERVER: ${{ secrets.OPENSHIFT_SERVER }}
      OPENSHIFT_TOKEN: ${{ secrets.OPENSHIFT_TOKEN }}
      OPENSHIFT_APP_NAMESPACE: ${{ secrets.OPENSHIFT_APP_NAMESPACE }}
      OPENSHIFT_METABASE_NAMESPACE: ${{ secrets.OPENSHIFT_METABASE_NAMESPACE }}
      OPENSHIFT_METABASE_PROD_NAMESPACE: ${{ secrets.OPENSHIFT_METABASE_PROD_NAMESPACE }}
      NEXT_PUBLIC_GROWTHBOOK_API_KEY: ${{ secrets.NEXT_PUBLIC_GROWTHBOOK_API_KEY }}
      CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
      OPENSHIFT_SECURE_ROUTE: ${{ secrets.OPENSHIFT_SECURE_ROUTE }}
      AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
      AWS_S3_REGION: ${{ secrets.AWS_S3_REGION }}
      AWS_S3_KEY: ${{ secrets.AWS_S3_KEY }}
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
      AWS_S3_SECRET_KEY: ${{ secrets.AWS_S3_SECRET_KEY }}
      CERTBOT_EMAIL: ${{ secrets.CERTBOT_EMAIL }}
      CERTBOT_SERVER: ${{ secrets.CERTBOT_SERVER }}
      AWS_CLAM_S3_BUCKET: ${{ secrets.AWS_CLAM_S3_BUCKET }}
      METABASE_EMBED_SECRET: ${{ secrets.METABASE_EMBED_SECRET }}
      METABASE_SITE_URL: ${{ secrets.METABASE_SITE_URL }}
      CERT: ${{ secrets.CERT }}
      CERT_KEY: ${{ secrets.CERT_KEY }}
      CERT_CA: ${{ secrets.CERT_CA }}
      SP_SA_USER: ${{ secrets.SP_SA_USER }}
      SP_SA_PASSWORD: ${{ secrets.SP_SA_PASSWORD }}
      SP_DOC_LIBRARY: ${{ secrets.SP_DOC_LIBRARY }}
      SP_SITE: ${{ secrets.SP_SITE }}
      SP_MS_FILE_NAME: ${{ secrets.SP_MS_FILE_NAME }}
      SA_CLIENT_SECRET: ${{ secrets.SA_CLIENT_SECRET }}
      SA_CLIENT_ID: ${{ secrets.SA_CLIENT_ID }}
      KEYCLOAK_HOST: ${{ secrets.KEYCLOAK_HOST }}
      SP_LIST_NAME: ${{ secrets.SP_LIST_NAME }}
      VAULT_TOKEN: ${{ secrets.VAULT_TOKEN }}
      VAULT_ADDR: ${{ secrets.VAULT_ADDR }}
      VAULT_NAMESPACE: ${{ secrets.VAULT_NAMESPACE }}
      CHES_CLIENT: ${{ secrets.CHES_CLIENT }}
      CHES_CLIENT_SECRET: ${{ secrets.CHES_CLIENT_SECRET }}
    with:
      environment: 'test'

  backup-secrets-prod:
    needs: [deploy-to-openshift-production]
    uses: ./.github/workflows/backup-secrets.yaml
    secrets:
      OPENSHIFT_SERVER: ${{ secrets.OPENSHIFT_SERVER }}
      OPENSHIFT_TOKEN: ${{ secrets.OPENSHIFT_TOKEN }}
      OPENSHIFT_APP_NAMESPACE: ${{ secrets.OPENSHIFT_APP_NAMESPACE }}
      OPENSHIFT_METABASE_NAMESPACE: ${{ secrets.OPENSHIFT_METABASE_NAMESPACE }}
      OPENSHIFT_METABASE_PROD_NAMESPACE: ${{ secrets.OPENSHIFT_METABASE_PROD_NAMESPACE }}
      NEXT_PUBLIC_GROWTHBOOK_API_KEY: ${{ secrets.NEXT_PUBLIC_GROWTHBOOK_API_KEY }}
      CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
      OPENSHIFT_SECURE_ROUTE: ${{ secrets.OPENSHIFT_SECURE_ROUTE }}
      AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
      AWS_S3_REGION: ${{ secrets.AWS_S3_REGION }}
      AWS_S3_KEY: ${{ secrets.AWS_S3_KEY }}
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
      AWS_S3_SECRET_KEY: ${{ secrets.AWS_S3_SECRET_KEY }}
      CERTBOT_EMAIL: ${{ secrets.CERTBOT_EMAIL }}
      CERTBOT_SERVER: ${{ secrets.CERTBOT_SERVER }}
      AWS_CLAM_S3_BUCKET: ${{ secrets.AWS_CLAM_S3_BUCKET }}
      METABASE_EMBED_SECRET: ${{ secrets.METABASE_EMBED_SECRET }}
      METABASE_SITE_URL: ${{ secrets.METABASE_SITE_URL }}
      CERT: ${{ secrets.CERT }}
      CERT_KEY: ${{ secrets.CERT_KEY }}
      CERT_CA: ${{ secrets.CERT_CA }}
      SP_SA_USER: ${{ secrets.SP_SA_USER }}
      SP_SA_PASSWORD: ${{ secrets.SP_SA_PASSWORD }}
      SP_DOC_LIBRARY: ${{ secrets.SP_DOC_LIBRARY }}
      SP_SITE: ${{ secrets.SP_SITE }}
      SP_MS_FILE_NAME: ${{ secrets.SP_MS_FILE_NAME }}
      SA_CLIENT_SECRET: ${{ secrets.SA_CLIENT_SECRET }}
      SA_CLIENT_ID: ${{ secrets.SA_CLIENT_ID }}
      KEYCLOAK_HOST: ${{ secrets.KEYCLOAK_HOST }}
      SP_LIST_NAME: ${{ secrets.SP_LIST_NAME }}
      VAULT_TOKEN: ${{ secrets.VAULT_TOKEN }}
      VAULT_ADDR: ${{ secrets.VAULT_ADDR }}
      VAULT_NAMESPACE: ${{ secrets.VAULT_NAMESPACE }}
      CHES_CLIENT: ${{ secrets.CHES_CLIENT }}
      CHES_CLIENT_SECRET: ${{ secrets.CHES_CLIENT_SECRET }}
    with:
      environment: 'production'

  create-release:
    needs: ['deploy-to-openshift-production']
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Fetch latest tag
        id: fetch_tag
        run: echo "tagVersion=$(git describe --tags $(git rev-list --tags --max-count=1))" >>$GITHUB_OUTPUT
      - name: Release
        uses: softprops/action-gh-release@v2.5.0
        with:
          generate_release_notes: true
          tag_name: ${{ steps.fetch_tag.outputs.tagVersion }}

  # create_hotfix_branch:
  #   needs: ['deploy-to-openshift-production']
  #   uses: ./.github/workflows/recreate-hotfix.yaml
  #   secrets:
  #     RENOVATE_GITHUB_TOKEN: ${{ secrets.RENOVATE_GITHUB_TOKEN }}
  #     RENOVATE_PRIVATE_KEY: ${{ secrets.RENOVATE_PRIVATE_KEY }}
