name: Run CCBC end to end tests

on:
  workflow_call:
    secrets:
      HAPPO_API_KEY:
        required: true
      HAPPO_API_SECRET:
        required: true
env:
  HAPPO_API_KEY: ${{ secrets.HAPPO_API_KEY }}
  HAPPO_API_SECRET: ${{ secrets.HAPPO_API_SECRET }}
  PGUSER: postgres

jobs:
  install-and-run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: dev env setup
        uses: ./.github/actions/dev-env-setup
      - run: make install_dev_tools
      - run: make stop_pg # cleanly stop the database, otherwise it will complain in the subsequent jobs
      - name: run app locally
        uses: ./.github/actions/local-app-run
      - run: yarn install --frozen-lockfile
        working-directory: ./app
      - name: run e2e tests
        env:
          HAPPO_API_KEY: ${{ secrets.HAPPO_API_KEY }}
          HAPPO_API_SECRET: ${{ secrets.HAPPO_API_SECRET }}
          PGUSER: postgres
        run: yarn test:e2e
        working-directory: ./app

  zap-owasp-full:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: dev env setup
        uses: ./.github/actions/dev-env-setup
      - name: run app locally
        uses: ./.github/actions/local-app-run
      - name: ZAP Full Scan
        uses: zaproxy/action-full-scan@v0.4.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          docker_name: "owasp/zap2docker-stable"
          target: "http://localhost:3000/"
          rules_file_name: ".zap/rules.tsv"
          cmd_options: "-a -d -T 5 -m 2"
          issue_title: OWASP Full Scan
          fail_action: true
