# Schedule to trigger Main workflow with cleared cache
name: nightly
on:
  schedule:
    - cron: '0 5 * * *'
jobs:
  clear-cache:
    uses: ./.github/workflows/cache.yaml
  # Temp disable nightly main workflow
  # main:
  #   needs: [clear-cache]
  #   uses: ./.github/workflows/main.yaml
  #   secrets: inherit
