# This workflow contains all static image scanning
name: test-containers

on:
  workflow_call:
    secrets:
      HAPPO_API_KEY: { required: true }
      HAPPO_API_SECRET: { required: true }
      RENOVATE_GITHUB_TOKEN: { required: true }
      RENOVATE_PRIVATE_KEY: { required: true }

concurrency:
  group: test-containers-${{ github.ref }}
  cancel-in-progress: true

env:
  PGUSER: postgres

jobs:
  trivy-scan-app:
    runs-on: ubuntu-latest
    outputs:
      results-length: ${{ steps.scan-results-length.outputs.results-length }}
    timeout-minutes: 60
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Trivy Vulnerability Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ghcr.io/bcgov/conn-ccbc-portal/ccbc-app:sha-${{ github.sha }}
          format: sarif
          output: trivy-results.sarif
          exit-code: '0'
          ignore-unfixed: true
          vuln-type: os,library
          severity: CRITICAL
          timeout: 10m0s
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@0499de31b99561a6d14a36a5f662c2a54f91beee
        with:
          sarif_file: 'trivy-results.sarif'
      - name: Get Results Length From Sarif
        id: scan-results-length
        run: echo "results-length=$(cat trivy-results.sarif | jq '.runs[0].results | length')" >> $GITHUB_OUTPUT

  trivy-scan-db:
    if: github.event.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    outputs:
      results-length: ${{ steps.scan-results-length.outputs.results-length }}
    timeout-minutes: 60
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Trivy Vulnerability Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ghcr.io/bcgov/conn-ccbc-portal/ccbc-db:sha-${{ github.sha }}
          format: sarif
          output: trivy-results.sarif
          exit-code: '0'
          ignore-unfixed: true
          vuln-type: os,library
          severity: CRITICAL
          timeout: 10m0s
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@0499de31b99561a6d14a36a5f662c2a54f91beee
        with:
          sarif_file: 'trivy-results.sarif'
      - name: Get Results Length From Sarif
        id: scan-results-length
        run: echo "results-length=$(cat trivy-results.sarif | jq '.runs[0].results | length')" >> $GITHUB_OUTPUT

  renovate:
    needs: ['trivy-scan-db', 'trivy-scan-app']
    if: needs.trivy-scan-db.outputs.results-length > 0 || needs.trivy-scan-app.outputs.results-length > 0
    env:
      RENOVATE_GIT_PRIVATE_KEY: ${{secrets.RENOVATE_PRIVATE_KEY}}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.2.6
        with:
          configurationFile: ./.github/renovate.json
          token: ${{ secrets.RENOVATE_GITHUB_TOKEN }}
